################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fdoCurrApp/FileContentIndex/d7bc0867-1857-4444-8a44-135a1516e36d.vsidx
/.vs/fdoCurrApp/FileContentIndex/6076a094-64db-4670-9ce9-fdc8fc707a51.vsidx
/.vs/fdoCurrApp/FileContentIndex/4748d3f1-4e5c-42fb-9399-498121261635.vsidx
