@model fdoCurrApp.Models.Login

@*@{
    ViewData["Title"] = "Login";
}*@
@{
    Layout = null;
}
@*
<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="lec_id" class="control-label">Kullanıcı Adı</label>
                <input asp-for="lec_id" class="form-control" />
                <span asp-validation-for="lec_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lec_pass" class="control-label">Şifre</label>
                <input asp-for="lec_pass" class="form-control" type="password"/>
                <span asp-validation-for="lec_pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İzmir Ekonomi Üniveristesi Müfradat Giriş Platformu</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="~/css/login.css">

</head>
<body>
   <form asp-action="Index">
        <div class="screen-1">
            <img style="width:132px;    margin-left: auto;
    margin-right: auto;" src="https://seeklogo.com/images/I/Izmir_Ekonomi_Universitesi-logo-1DBBF2BAF5-seeklogo.com.png" />
            <h4 style="text-align:center;margin-top: -10px;
    margin-bottom: 44px;">
                Müfradat Giriş Platformu
            </h4>

            <div class="email">
                <label asp-for="lec_id" >Lecturer Id</label>
                <div class="sec-2">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input id="lec_id" asp-for="lec_id" type="number" placeholder="············" style="box-shadow: 0px 0px 2px 0px #c7c7c7;" />
                    
                </div>
                <span style="color:red;font-size: 11px;float: right;text-align: right;" id="lec_id_span"></span>
            </div>
            <div class="password">
                <label asp-for="lec_pass">Password</label>
                <div class="sec-2">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input class="pas" id="lec_pass" type="password" asp-for="lec_pass" placeholder="············" style="box-shadow: 0px 0px 2px 0px #c7c7c7;" />
                    <ion-icon class="show-hide" name="eye-outline"></ion-icon>
                    
                </div>
                <span style="color:red; font-size: 11px;float: right;text-align: right;" id="lec_pass_span"></span>
            </div>
            <button class="login">Login </button>

        </div>
    </form>

   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script type="text/javascript">

        localStorage.setItem("accesToken", "");
        localStorage.setItem("lec_id", "");
        localStorage.setItem("lec_name", "");
        localStorage.setItem("lec_surname", "");

        function zorunluAlan()
        {
            var d=0;
            var in_lec_id = $("#lec_id").val();
            var in_lec_pass = $("#lec_pass").val();
            if (in_lec_id == '' || in_lec_id == null || in_lec_id == undefined) {
                $("#lec_id_span").html("Zorunlu Alan");
                d=1;
            }

            if (in_lec_pass == '' || in_lec_pass == null || in_lec_pass == undefined) {
                $("#lec_pass_span").html("Zorunlu Alan");
                d = 1;
            }
            if(d==1)
            {
                return false;
            }

            $("#lec_id_span").html("");
            $("#lec_pass_span").html("");
            return true;
        }

        $(document).on("submit", "form", function (event) {
            if (zorunluAlan()==false) {
                return false;
            }
            event.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                dataType: "JSON",
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    if (data.status==200) {
                        localStorage.setItem("accesToken", data.response.accesToken);
                        localStorage.setItem("lec_id", data.response.lec_id);
                        localStorage.setItem("lec_name", data.response.lec_name);
                        localStorage.setItem("lec_surname", data.response.lec_surname);

                        //$('#s_lec_id').val(data.response.lec_id);
                        //$('#loginCurr').submit();
                        window.location.href = "/Curr/Index";
                      
                    }
                    else
                    {
                        alert(data.message);
                    }
                },
                error: function (xhr, desc, err) {


                }
            });
        });
       
    




    </script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>


