
<div class="row" style="padding: 10px;">
    <div class="col-lg-3 table-responsive" style="font-size: 12px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="5">Müfredat Listesi</th>
                </tr>
            </thead>
            <tbody class="tableContainer">
                <tr>
                    <td >
                    <div style="width:100%; height:77vh; overflow:auto;">
                        @for (var j = 1; j < 5; j++)
                        {
                                @for (var m = 1; m < 3; m++)
                                {
                                    var donem = (@m == 1 ? "Güz" : "Bahar");
                                    <table class="table table-striped table-responsive">
                                        <thead>
                                            <tr>
                                                <th colspan="5">@j. Sınıf @donem Dönemi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="table table-striped table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Ders Kodu</th>
                                                                <th>Ders Adı</th>
                                                                <th>İEU Kredisi</th>
                                                                <th>AKTS Kredisi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="ders_@j@m">
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }

                            }
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    @*<div class="col-lg-3 table-responsive" style="font-size:12px;">
    </div>*@


    <div class="col-lg-6 table-responsive" style="font-size: 12px;" id="openELEC">
       
            <thead>
                <tr>
                    <th colspan="5" id="selectCurrCourse">Seçmeli Ders Listesi</th>
                </tr>
            </thead>
            <tbody class="tableContainer">
                <tr>
                    <td >
                        <div style="width:100%; height:77vh; overflow:auto;">
                        <table class="table table-striped table-responsive" id="example2" >
                            <thead>
                                <tr>
                                        <th style="width:46px">Ekle</th>
                                        <th>Fakülte</th>
                                        <th>Bölüm</th>
                                        <th style="width: 80px;">Ders Kodu</th>
                                        <th>Ders Adı</th>
                                        <th style="width: 74px;">İEU Kredisi</th>
                                        <th style="width: 76px;">AKTS Kredisi</th>
                                </tr>
                                   
                            </thead>
                            <tbody id="elec_list">
                              
                            </tbody>
                        </table>
                        </div>
                    </td>
                </tr>

            </tbody>
      
    </div>



    <div class="col-lg-3 table-responsive" style="font-size: 12px;" id="alinanElecListesi">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="5" id="selectCourse">Müfredata Seçilen Ders Listesi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div style="width:100%; height:77vh; overflow:auto;">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Çıkar</th>
                                        <th>Fakülte</th>
                                        <th>Bölüm</th>
                                        <th>Ders Kodu</th>
                                        <th>Ders Adı</th>
                                        <th>İEU Kredisi</th>
                                        <th>AKTS Kredisi</th>
                                    </tr>
                                </thead>
                                <tbody id="secilen_elec_list">
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


</div>




<style>

    .mr-4 {
        margin-right: 4rem;
    }

    .ml-2 {
        margin-left: 1rem;
    }

    .rt {
        position: fixed;
        right: 1%;
    }

    .pointer {
        cursor: pointer;
        color: rgb(33,37,41);
    }

    .tableContainer {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    .addDropButton
    {
        max-width: 25px;
        max-height: 25px;
        line-height: 1px;
        margin: 0px;
        padding: 3px;
    }

    .disabletr{
        color: #9b9999 !important;
    }

    .enabletr {
        color: #000000 !important;
        font-weight: bold !important;
        background: #ffdab4 !important;
        cursor: pointer;
    }

    .enabletr:hover {
            background: #ffb569 !important;
    }

    .activeEnabletr {
        color: #000000 !important;
        font-weight: bold !important;
        background: #f6a756 !important;
        cursor: pointer;
    }
</style>


            
<script src="~/js/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#example2').DataTable();

        $('#example2 tbody').on('click', 'tr', function() {
            if($(this).hasClass('selected')){
                $(this).removeClass('selected');
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        
    });
</script>
           

<script type="text/javascript">
     //$('#openELEC').hide();
                function closer(k) {
                $("#" + secilen.currClass + "_" + secilen.semester + '_' + secilen.uniCode.replace(" ", "_")).removeClass("activeEnabletr");
                $("#" + secilen.currClass + "_" + secilen.semester + '_' + secilen.uniCode.replace(" ", "_")).addClass("enabletr");
                    elecSelecList(k);
          
                    secilen=k;
        $("#" + secilen.currClass + "_" + secilen.semester + '_' + secilen.uniCode.replace(" ", "_")).removeClass("enabletr");
        $("#" + secilen.currClass + "_" + secilen.semester + '_' + secilen.uniCode.replace(" ", "_")).addClass("activeEnabletr");
       $('#openELEC').show();
       
                }

    var accesToken = localStorage.getItem("accesToken");
    var lec_id = localStorage.getItem("lec_id");
    var lec_name = localStorage.getItem("lec_name");
    var lec_surname = localStorage.getItem("lec_surname");


    var selectCourses=[];
    var secilen = {
        uniCode: "",
        courseName: "",
        credit: "",
        ects: "",
        semester: "",
        currClass: "",
        department: "",
        faculty: "",
        fdo: "",
        id: "",
        currCode: "",
    }


    if (accesToken == undefined || accesToken == "") {
        window.location.href = "/Login/Index";
    }

   
    $.ajax({
        url: "/Curr/List?id="+lec_id,
        type: "get",
        dataType: "JSON",
        headers: {
            'Content-Type': 'multipart/form-data',
            authorization: accesToken
        },
        success: function (data) {
            if (data.status == 200) {
               console.log(data);

               say=0;
       
                data.response.forEach(k => {
                   // if (k.uniCode.search("ELEC") != -1 && say==0) {
                   //     secilen = k
                   //     say++;
                   //}
                    var ders = 
                    "<tr id='" + k.currClass + '_' + k.semester + '_' + k.uniCode.replace(" ", "_") + "' class='" + (k.uniCode.search("ELEC") != -1 ? "enabletr" : "disabletr ") + "' " + ((k.uniCode.search("ELEC")) != -1 ? " onclick='closer(" + JSON.stringify(k) + ")'" :"" ) + "  > "
                        + "<td>" + k.uniCode+ "</td>"
                            + "<td>" + k.courseName + "</td>"
                            + " <td>" + k.credit + "</td>"
                            + "<td>" + k.ects + "</td>"
                            + "</tr>";
                    $("#ders_" + k.currClass + "" + k.semester).append(ders);

               })
                //$("#" + secilen.currClass + "_" + secilen.semester + '_' + secilen.uniCode.replace(" ", "_")).removeClass("enabletr");
                //$("#" + secilen.currClass + "_" + secilen.semester + '_' + secilen.uniCode.replace(" ", "_")).addClass("activeEnabletr");
                //elecSelecList(secilen);

            }
            else {
                alert(data.message);
                window.location.href = "/Login/Index";
            }
        },
        error: function (xhr, desc, err) {

              SnackBar({
                        message: err,
                        status: "danger",
                        position: 'top-left',
                        icon: "exclamation"

                    });
        }
    });


    function elecSelecList(secilen) {
        fData=new FormData();
        fData.append("uniCode", secilen.uniCode);
        fData.append("courseName", secilen.courseName);
        fData.append("credit", secilen.credit);
        fData.append("ects", secilen.ects);
        fData.append("semester", secilen.semester);
        fData.append("curr_class", secilen.currClass);
        fData.append("department", secilen.department);
        fData.append("faculty", secilen.faculty);
        fData.append("fdo", secilen.fdo);
        fData.append("id", secilen.id);
        fData.append("currCode", secilen.currCode);
        fData.append("lec_id", lec_id);
        fData.append("deptLangName", secilen.deptLangName);
        fData.append("deptLangCode", secilen.deptLangCode);

        $.ajax({
            url: "/Curr/Eleclist",
            type: "post",
            data: fData,
               processData: false,
                contentType: false,
            //headers: {
            //    'Content-Type': 'multipart/form-data',
            //    authorization: accesToken
            //},
            success: function (data) {
                if (data.status == 200) {
                    $("#selectCurrCourse").html(secilen.currClass + '. Sınıf ' + (secilen.semester == 1 ? 'Güz' : 'Bahar') + " " + secilen.uniCode + ' (Kredi:' + secilen.credit + ' - AKTS:' + secilen.ects + ') dersi için seçilecek ders listesi')
                    $("#selectCourse").html(secilen.currClass + '. Sınıf ' + (secilen.semester == 1 ? 'Güz' : 'Bahar') + " " + secilen.uniCode + ' (Kredi:' + secilen.credit + ' - AKTS:' + secilen.ects + ') dersi için seçilen ders listesi')
                    
                    selectCourseList(data.response.course);
                    selectCourses = data.response.course;
                    $("#secilen_elec_list").html("");
                    data.response.currElecCourses.forEach(m => {

                        var ders = "<tr>"
                            + "<td><button class='btn btn-danger btn-sm rounded-circle addDropButton' onclick='courseDrop(" + JSON.stringify({ selectCourse: m.currElecCourses, selectCurr: secilen }) + ")'><i class='fa fa-minus' /></button></td>"
                            + "<td>" + (m.course.faculty) + "</td>"
                            + "<td>" + (m.course.department) + "</td>"
                            + "<td>" + (m.course.uniCode) + "</td>"
                            + "<td>" + (m.course.courseName) + "</td>"
                            + "<td>" + (m.course.credit) + "</td>"
                            + "<td>" + (m.course.ects) + "</td>"
                            + "</tr>";
                        $("#secilen_elec_list").append(ders);
                    })

                }
                else {
                    SnackBar({
                        message: data.message,
                        status: "danger",
                        position: 'top-left',
                        icon: "exclamation"

                    });
                    window.location.href = "/Login/Index";
                }
            },
            error: function (xhr, desc, err) {
                 SnackBar({
                        message: err,
                        status: "danger",
                        position: 'top-left',
                        icon: "exclamation"

                    });
            }
        });
        }


        function selectCourseList(data)
        {
            $("#elec_list").html("");
            data.forEach(m => {
            var ders = "<tr>"
                + "<td style='width: 46px'><button class='btn btn-success btn-sm rounded-circle addDropButton' onclick='courseAdd(" + JSON.stringify({ selectCourse: m, selectCurr: secilen }) + ")'><i class='fa fa-plus' /></button></td>"
                + "<td>" + (m.faculty) + "</td>"
                + "<td>" + (m.department) + "</td>"
                + "<td style='width: 80px'>" + (m.uniCode) + "</td>"
                + "<td>" + (m.courseName) + "</td>"
                + "<td style='width: 74px'>" + (m.credit) + "</td>"
                + "<td style='width: 76px'>" + (m.ects) + "</td>"
                + "</tr>";
            $("#elec_list").append(ders);


           });
        }
    function courseAdd(sc) {
        fData = new FormData();
        fData.append("uniCode", sc.selectCurr.uniCode);
        fData.append("currCode", sc.selectCurr.currCode);
        fData.append("courseId", sc.selectCourse.courseId);
        fData.append("lec_id", lec_id);

        $.ajax({
            url: "/Curr/AddElec",
            type: "post",
            data: fData,
            processData: false,
            contentType: false,
            //headers: {
            //    'Content-Type': 'multipart/form-data',
            //    authorization: accesToken
            //},
            success: function (data) {
                if (data.status == 200) {
                    SnackBar({
                        message: data.response,
                        status: "success",
                        position: "top-left",
                        icon:"plus"

                    });


                    elecSelecList(sc.selectCurr)

                }
                else {
                    SnackBar({
                        message: data.message,
                        status: "danger",
                        position: 'top-left',
                        icon: "exclamation"

                    });
                    window.location.href = "/Login/Index";
                }
            },
            error: function (xhr, desc, err) {

            }
        });
    }


  

    function courseDrop(sc) {
        fData = new FormData();
        fData.append("id", sc.selectCourse.id);

        $.ajax({
            url: "/Curr/DeleteElec",
            type: "post",
            data: fData,
            processData: false,
            contentType: false,
            //headers: {
            //    'Content-Type': 'multipart/form-data',
            //    authorization: accesToken
            //},
            success: function (data) {
                if (data.status == 200) {
                    console.log(data.response);
                    SnackBar({
                        message: data.response,
                        status: "success",
                        position: "top-left",
                        icon: "-"
                         });

                    elecSelecList(sc.selectCurr)

                }
                else {
                    SnackBar({
                        message: data.message,
                        status: "danger",
                        position: 'top-left',
                        icon: "exclamation"

                    });
                    window.location.href = "/Login/Index";
                }
            },
            error: function (xhr, desc, err) {

            }
        });
    }


    //function search()
    //{
    //    var fak=$("#fac_ara").val();
    //    var dep = $("#dep_ara").val();
    //    var ucode = $("#ucode_ara").val();
    //    var uname = $("#uname_ara").val();
    //    var credit = $("#ieucre_ara").val();
    //    var ects = $("#acts_ara").val();

       
     

    //    var find = selectCourses.filter(x => {
    //        var sonuc=true;
    //        if (fak != null && fak != "" && (x.faculty.toUpperCase()).search(fak.toUpperCase()) == -1) {
    //            sonuc=false;
    //        }

    //        if (dep != null && dep != "" && (x.department.toUpperCase()).search(dep.toUpperCase()) == -1) {
    //            sonuc = false;
    //        }

    //        if (ucode != null && ucode != "" && (x.uniCode.toUpperCase()).search(ucode.toUpperCase()) == -1) {
    //             sonuc = false;
    //        }
    //        if (uname != null && uname != "" && (x.courseName.toUpperCase()).search(uname.toUpperCase()) == -1) {
               
    //            sonuc = false;
    //        }
    //        if (credit != null && credit != "") {
    //            if (credit.search('<=')!=-1) {
    //                var parcala = credit.split("<=");
    //                if (+x.credit > +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else if (credit.search('>=') != -1) {
    //                var parcala = credit.split(">=");
    //                if (+x.credit < +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            } 
    //            else if (credit.search('<') != -1) {
    //                var parcala = credit.split("<");
    //                if (+x.credit >= +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else if (credit.search('>') != -1) {
    //                var parcala = credit.split(">");
    //                if (+x.credit <= +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else if (credit.search('=') != -1) {
    //                var parcala = credit.split("=");
    //                if (+x.credit !== +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else {
    //                if (+x.credit !== +credit) {
    //                    sonuc = false;
    //                }
    //            }

    //        }
    //        if (ects != null && ects != "") {
    //            if (ects.search('<=') != -1) {
    //                var parcala = ects.split("<=");
    //                if (+x.ects > +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else if (ects.search('>=') != -1) {
    //                var parcala = ects.split(">=");
    //                if (+x.ects < +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else if (ects.search('<') != -1) {
    //                var parcala = ects.split("<");
    //                if (+x.ects >= +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else if (ects.search('>') != -1) {
    //                var parcala = ects.split(">");
    //                if (+x.ects <= +parcala[1]) {
    //                    sonuc = false;
    //                }
    //            }
    //            else if (ects.search('=') != -1) {
    //                        var parcala = ects.split("=");
    //                        if (+x.ects !== +parcala[1]) {
    //                            sonuc = false;
    //                        }
    //                    }
    //            else{
    //                if (+x.ects !== +ects) {
    //                    sonuc = false;
    //                }
    //            }
    //        }

    //return sonuc;
    //    });


    //selectCourseList(find);

    //}


</script>
